<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!--   
    namespace：必须与对应的接口全类名一致  
    id:必须与对应接口的某个对应的方法名一致       
 -->  
 <mapper namespace="com.valen.future.dao.work.IWorkRecordDAO">
	<resultMap id="baseResultMap" type="com.valen.future.bean.work.WorkRecord">
	    <result column="workId" property="workId" jdbcType="INTEGER" />
		<result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="noteDate" property="noteDate" jdbcType="VARCHAR" />
        <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />		
		<result column="state" property="state" jdbcType="SMALLINT" />	    
		<result column="comment" property="comment" jdbcType="VARCHAR" />		    		
		<result column="modifyDate" property="modifyDate" jdbcType="TIMESTAMP" />
	</resultMap>
  	<insert id="insert" parameterType="com.valen.future.bean.work.WorkRecord">
 		insert into tb_workrecord(user_name,create_date,note_date,state,comment,modify_date) values(#{userName},#{createDate},#{noteDate},#{state},#{comment},#{modifyDate})
 	</insert>
	
    <select id="getWorkRecordByUserName" parameterType="java.util.Map" resultType="com.valen.future.bean.work.WorkRecord">
    	select work_id as workId,user_name as userName,note_date as noteDate,create_date as createDate,state,comment as comment,modify_date as modifyDate from tb_workrecord where user_name=#{userName} and note_date=#{noteDate}  
    </select>
    
    <update id="updateCommentByUserName" parameterType="java.util.Map"  >
    	update tb_workrecord set comment = #{comment} where user_name=#{userName} and note_date=#{noteDate} 
    </update>          
 </mapper>
